<figure class="code-block">
  {{- if .Type }}
  {{- $configLangs := slice "yaml" "toml" "json" "ini" "xml" "dockerfile" "makefile" }}
  {{- $icon := "&lt;/&gt;" }}
  {{- if in $configLangs (lower .Type) }}
    {{- $icon = "{}" }}
  {{- end }}
  <div class="code-titlebar{{ if in $configLangs (lower .Type) }} config{{ end }}">
    <span class="code-titlebar-icon">{{ $icon | safeHTML }}</span>
    <span class="code-titlebar-label">{{ .Type }}{{ with .Attributes.title }} {{ . }}{{ end }}</span>
  </div>
  {{- end }}
  {{- if transform.CanHighlight .Type }}
  <pre
    tabindex="0"
    class="chroma"
  ><code class="language-{{ .Type }}" data-lang="{{ .Type }}">
      {{- with transform.HighlightCodeBlock . -}}
      {{ .Inner }}
      {{- end -}}
    </code></pre>
  {{- else }}
  <pre
    tabindex="0"
  ><code{{ with .Type }} class="language-{{ . }}" data-lang="{{ . }}"{{ end }}>{{ .Inner }}</code></pre>
  {{- end }}
</figure>
